{
  "extends": ["stylelint-config-recommended"],
  "overrides": [
    {
      "customSyntax": "postcss-styled-syntax",
      "files": ["**/*.ts", "**/*.tsx", "**/*.js", "**/*.jsx"]
    }
  ],
  "rules": {
    "no-descending-specificity": null,
    "no-invalid-double-slash-comments": null
  }
}
